.container-flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.hidden {
  display: none;
}

.Button {
  background-color: white;
  color: black;
  border: 1px solid black;
  margin: 2px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.Button-table {
  text-align: center;
  vertical-align: bottom;
  background-color: white;
  color: black;
  width: 100%;
  height: 18px;
  border: none;
  margin: none;
  padding: none;
}

.Button:hover {
  background-color: blue;
  color: white;
  border: 1px solid blue;
}

.Button-table:hover {
  background-color: blue;
  color: white;
}

.Button-Success {
  background-color: Green;
  color: white;
}

.Button-Warning {
  background-color: Red;
  color: white;
}

.Button-Success, .Button-Warning {
  border-radius: 3px;
  border: 1px solid black;
}

.Button-Success:hover {
  background-color: green;
  color: white;
  border: 1px solid green;
}

.Button-Warning:hover {
  background-color: red;
  color: white;
  border: 1px solid red;
}

table {
  margin-bottom: 5px;
  border-collapse: collapse;
}

tr {
  margin: 0;
  padding: 0;
}

td {
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
}

#pageWrap {
  margin-top: 10vh;
}
